# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
indent_style = spaces
tab_width = 4

[Makefile]
indent_style = tab

[*.yml]
indent_style = spaces
indent_size = 2

[package.json]
indent_style = spaces
indent_size = 2